<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="content">
        {% if author is defined %}
        <div class="post-metadata">
            <h1>{{ title }}</h1>
            <div class="metadata">
                <p class="date">{{ date }}</p>
                <p class="author">By {{ author }}</p>
                {% if tags %}
                <div class="tags">
                    {% for tag in tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% if summary %}
                <div class="summary">
                    <p>{{ summary }}</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        
        {{ content | safe }}
    </div>
    <div class="footnote">
        <a href="https://google.com">https://google.com</a>
    </div>
</body>
</html>
